<!DOCTYPE html>
<html lang="en-US">
<div>
<h5>{{title}}</h5>
<table class="table">
  <tr><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td></tr>
  <tr><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td></tr>
  <tr><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td></tr>
  <tr><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td></tr>
</table>
<table class="table">
  <tr><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td></tr>
  <tr><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td></tr>
  <tr><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td></tr>
  <tr><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td></tr>
</table>
<table class="table">
  <tr><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td></tr>
  <tr><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td></tr>
  <tr><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td></tr>
  <tr><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td><td>Random shizz</td></tr>
</table>

</div>
</html>